body {
    background-color:rgb(250, 229, 201);
    margin: 20px;
    padding: 20px;
}

header {
    text-align: center;
}


.imageOne {
    display: block;
    width: 600px;
    margin: 20px auto;
   border-radius: 10px;
 
}
.containerOption {
    
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  
    
}
