* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(backgroundPizza.jpg);
  background-color: #d8e1d6;
  color: #3d0c06;
  height: 100%;
  margin: 20px;
  padding: 20px;
}
header {
  text-align: center;
}
.size {
  text-align: center;
  margin: 10px auto;
}
h3 {
  text-align: center;
  opacity: 0.7;
}
.container {
  margin: 50px auto;
  width: 800px;
  padding: 70px;
  margin-bottom: 10px;
  background-color: #dde5f4;
  border-radius: 20px;
}
#showPrice {
  border-radius: 60px;
  margin: 10px auto;
  padding: 20px;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color:#C1D4AF;
}
img {
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.sizeSection {
  padding: 20px;
  margin: 10px auto;
}
.sizeInput {
  text-align: center;
}
.toppingOptions {
  margin-top: 20px;
}
.addTopping {
  padding: 10px;
  text-align: center;
  opacity: 0.7;
}
.containerOption {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.8;
}
.delivery {
  text-align: center;
  margin: 20px auto;
  min-width: 80px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 8px;
  background-color: #C1D4AF;
}
.deliverySelect {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
  color: #6e4d4e;
  opacity: 0.8;
  border-color: #3d0d06;
}
